# fly.toml app configuration file generated for anxiety-app on 2025-11-07T12:18:32-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'anxiety-app'
primary_region = 'iad'

[build]

[env]
  PORT = '8000'

[[mounts]]
  source = 'anxiety_data'
  destination = '/data'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[http_service.checks]]
    interval = '10s'
    timeout = '2s'
    grace_period = '5s'
    method = 'GET'
    path = '/dashboard'

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
